.auth-layout {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
}

.auth-form-section {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;

}



.auth-banner {
  flex: 1;
}

.auth-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form-grup {
  margin-bottom: 24px;
}

.form-grup label {
  margin-bottom: 8px;
  display: block;
}
